:root{
  --myGreen : #a3f7bf;
  --myYellow : #fff591;
  --myBlue : #05dfd7;
  --myPink : #fa26a0;
  --myWhite: #fff;
}
body {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  background-color: var(--myGreen);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

input {
  display: block;
  outline: none;
  border: 2px solid var(--myYellow);
  margin: 30px;
  background: var(--myBlue);
  padding: 20px;
  font-size: 30px;
  transition: all 300ms ease;
  color: var(--myPink);
}

input:hover,
input:focus {
  background: transparent;
  border: 2px solid var(--myPink);
  transform: scale(1.1);
  transition: all 300ms ease;
  cursor: pointer;
}

.btn{
  display: block;
  outline: none;
  border: 2px solid var(--myYellow);
  margin: 30px;
  background: var(--myBlue);
  height: 8rem;
  width: 16rem;
  font-size: 30px;
  transition: all 300ms ease;
  color: var(--myPink);
}

.btn a {
  text-decoration: none;
  color: var(--myPink);
}

.btnn:hover,
.btn:focus {
  background: transparent;
  border: 2px solid var(--myPink);
  transform: scale(1.1);
  transition: all 300ms ease;
  cursor: pointer;
}

table {
  font-size: 18px;
  background: var(--myBlue);
  border: 2px solid var(--myPink);
  border-collapse: collapse;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: var(--myYellow);
}

tr:hover {
  background-color: var(--myWhite);
}

th {
  background-color: var(--myPink);
  color: white;
}
/* fff591 */
/* a3f7bf */
/* 05dfd7 */
/* fa26a0 */

/*********************** ARRAY  *************************/
.usersCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 50px;
  overflow-wrap: wrap;
  overflow: hidden;
}
.container{
  padding: 2px 16px;
}
#users{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  background-color: var(--myPink);
  flex-wrap: wrap;
}

#edit, #delete{
  height: 30px;
}
.container{
  display: flex;
  flex-direction: row;
}